/*--- General Styles and Variables ---*/
* {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

:root {
    --primary-color: #01bebe;
    /* Deep teal for primary actions */
    --primary-hover: #027070;
    /* Darker teal for hover states */
    --secondary-color: #ff6f61;
    /* Warm coral for secondary actions */
    --secondary-hover: #bb473e;
    /* Darker coral for hover */
    --accent-color: #b22222;
    /* Muted red for delete actions */
    --accent-hover: #8b1a1a;
    /* Darker red for delete hover */
    --background-color: #f0f4f8;
    /* Soft pastel blue for body background */
    --card-background: #ffffff;
    /* Clean white for cards and main content */
    --menu-background: #2c3e50;
    /* Dark slate blue for sidebar */
    --text-primary: #1a1a1a;
    /* Near-black for primary text */
    --text-secondary: #4a5a6a;
    /* Muted blue-gray for secondary text */
    --shadow-color: rgba(0, 0, 0, 0.3);
    /* Subtle shadow */
    --border-color: #d3dce6;
    /* Light blue-gray for borders */
    --color-row: #e6f2ff;
    --color-right: #2196f3;
    --color-error: #f44336;
    --color-exit: #4b5255;
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0 20px;
    box-sizing: border-box;
}

h1,
h3 {
    color: var(--text-primary);
    text-align: center;
}

h3 {
    margin-block-start: 0.5rem;
}

img {
    width: 100px;
    height: 150px;
    margin-left: 10px;
    vertical-align: middle;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--shadow-color);
    object-fit: cover;
}

/*--- Layout and Structure ---*/
div.all-container {
    display: flex;
}

.container {
    flex: 1;
    background-color: var(--card-background);
    padding: 20px;
    box-shadow: 0 0 10px var(--shadow-color);
    box-sizing: border-box;
    border-radius: 20px;
    transition: all 0.3s ease;
    margin-left: 60px;
    margin-right: 0px;
}

.container button {
    color: var(--text-primary);
    border: none;
    background-color: var(--primary-color);
    transition: all 0.3s ease;
    cursor: pointer;
}

.container button:hover {
    color: var(--background-color);
    transform: translateY(-5px);
    box-shadow: 0 5px 0 var(--primary-hover);
}

.container.expanded-left {
    margin-left: calc(20% + 20px);
}

.container.expanded-right {
    margin-right: calc(24% + 20px);
}

.table-responsive-container {
    width: 100%;
    overflow-x: auto;
}

.overflow-x-auto {
    overflow-x: auto;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-section {
    position: fixed;
    width: 24%;
    top: 60px;
    right: 20px;
    background-color: var(--card-background);
    margin-bottom: 20px;
    padding: 20px;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 10px var(--shadow-color);
    transition: all 0.3s ease;
    white-space: nowrap;
}

.hidden-form {
    width: 0px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.hidden {
    display: none !important;
}

/*--- Header ---*/
header.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0px;
    background-color: var(--card-background);
    border-radius: 0 0 20px 20px;
    box-shadow: 0 2px 5px var(--shadow-color);
}

header.header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.search-container {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    position: relative;
    transform: translateX(-7px);
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #f5f5f5;
    width: 45px;
    transition: all 0.3s ease;
}

.content-center {
    text-align: center;
    vertical-align: center;
}

.search-container.open {
    width: 250px;
}

.search-container > div > input {
    border: none;
    outline: none;
    background-color: transparent;
    flex-grow: 1;
    font-size: 16px;
    padding-left: 10px;
    width: 0;
    transition: all 0.3s ease;
}

.search-container input.open {
    width: 200px;
}

.seach-container input:focus {
    border: 1px solid var(--color-right);
}

.search-icon {
    color: #888;
    font-size: 20px;
}

/*--- Left Menu / Sidebar ---*/
.left-menu {
    width: 20%;
    position: fixed;
    box-sizing: border-box;
    top: 60px;
    left: 20px;
    background-color: var(--menu-background);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px var(--shadow-color);
    height: calc(100vh - 70px);
    color: white;
    overflow: hidden;
    transition: all 0.3s ease;
}

.head-menu {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
}

.head-menu > h2 {
    white-space: nowrap;
}

/* head-menu>#close-btn */
.button-close-container {
    position: absolute;
    top: -10px;
    right: -11px;
    cursor: pointer;
}

.setting-btn {
    left: 0px;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: var(--menu-background);
    border-radius: 10px;
    cursor: pointer;
    border: none;
    box-shadow: 0px 0px 0px 2px var(--color-row);
}
.bar {
    width: 50%;
    height: 2px;
    background-color: var(--color-row);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 2px;
}
.bar::before {
    content: "";
    width: 2px;
    height: 2px;
    position: absolute;
    border-radius: 50%;
    border: 2px solid white;
    transition: all 0.3s;
    box-shadow: 0px 0px 5px white;
}
.bar1::before {
    transform: translateX(-4px);
    background-color: var(--color-error);
}
.bar2::before {
    transform: translateX(4px);
    background-color: var(--color-right);
}
.bar3::before {
    transform: translateX(-4px);
    background-color: var(--secondary-color);
}
.setting-btn:hover .bar1::before {
    transform: translateX(4px);
}
.setting-btn:hover .bar2::before {
    transform: translateX(-4px);
}
.setting-btn:hover .bar3::before {
    transform: translateX(4px);
}

/* .head-menu>#close-btn {
    position: absolute;
    top: -10px;
    right: -12px;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
} */

.left-menu h2 {
    color: white;
    text-align: center;
    transition: all 0.3s ease;
}

.left-menu ol {
    padding: 0;
    margin-left: 20px;
}

.left-menu li {
    margin-bottom: 10px;
    max-height: 40px;
    transition: all 0.3s ease;
}

.left-menu a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: 500;
    color: var(--background-color);
    transition: all 0.3s ease;
    border-radius: 20px;
    overflow: hidden;
}

.left-menu a:hover,
.left-menu a.active,
.left-menu a:focus,
.left-menu a:not(:disabled):active {
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: translateX(5px);
    box-shadow: 0 2px 5px var(--shadow-color);
}

.left-menu.collapsed {
    width: 50px;
}

.left-menu.collapsed h2,
.left-menu.collapsed li,
.left-menu.collapsed a {
    opacity: 0;
}

.left-menu li,
.left-menu a {
    white-space: nowrap;
}

/*--- Form Elements ---*/
#information-form input,
#information-form textarea,
#information-form select,
#information-form button {
    width: 100%;
    margin-bottom: 7px;
}

#information-form select {
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid var(--border-color);
    transition: all 0.3s ease;
    font-size: 1rem;
    padding: 10px;
}

#information-form select:focus,
#information-form select:not(:placeholder-shown) {
    outline: none;
    border-bottom: 2px solid var(--primary-color);
}

#information-form option {
    border-radius: 5px;
}

#information-form label {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 5px;
}

#information-form button {
    padding: 10px;
    background-color: var(--secondary-color);
    color: var(--text-primary);
    border: none;
    cursor: pointer;
    border-radius: 30px;
    margin: 5px 0;
    font-size: 1.1rem;
    transition: all 0.3s ease;
}

#information-form button:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 0 var(--secondary-hover);
    color: var(--background-color);
}

#information-form button#cancel-btn {
    background-color: var(--border-color);
}

#information-form button#cancel-btn:hover {
    box-shadow: 0 5px 0 var(--color-exit);
}

fieldset {
    border: 1px solid var(--border-color);
    padding: 7px 7px 5px 10px;
    margin: 15px 0;
    border-radius: 10px;
    font-size: 0.9rem;
}

.input-group {
    position: relative;
    margin-bottom: 5px;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 15px 10px 5px 10px;
    border: none;
    border-bottom: 2px solid var(--border-color);
    border-radius: 5px;
    transition: all 0.3s ease;
    font-size: 1rem;
    margin-top: 10px;
}

.input-group textarea {
    max-height: 60px;
    margin-top: 15px;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: var(--primary-hover);
    pointer-events: none;
    transition: all 0.3s ease;
    font-size: 0.9rem;
}

.input-group input:focus,
.input-group input:not(:placeholder-shown),
.input-group textarea:focus,
.input-group textarea:not(:placeholder-shown) {
    outline: none;
    border-bottom: 2px solid var(--primary-color);
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
    transform: translateY(-190%);
    left: 10px;
}

.input-group textarea:focus + label,
.input-group textarea:not(:placeholder-shown) + label {
    transform: translateY(-250%);
    left: 10px;
    color: var(--primary-color);
}

#show-form-btn {
    display: flex;
    padding: 10px;
    border-radius: 40px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
    transition: all 0.3s ease;
}

/*--- Table Styles ---*/
table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid var(--border-color);
    padding: 8px;
    text-align: left;
}

th {
    background-color: var(--background-color);
    text-align: center;
}

#main-table tbody tr:nth-child(odd) {
    background-color: var(--color-row);
}

#main-table {
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    overflow: hidden;
}

.action-buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 4px;
    cursor: pointer;
    width: 100%;
    height: 30px;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 5px;
    border-radius: 15px;
    transition: all 0.3s ease;
    gap: 5px;
}

.delete-btn {
    background-color: var(--color-error) !important;
}

.delete-btn:hover {
    box-shadow: 0 5px 0 var(--accent-hover) !important;
}

/*--- Pagination ---*/
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pagination-btn {
    padding: 8px 12px;
    margin: 0 5px;
    border-radius: 5px;
}

.pagination-btn:disabled {
    background-color: var(--border-color);
    cursor: not-allowed;
}

.pagination-btn:disabled:hover {
    color: var(--text-primary);
    transform: none;
    box-shadow: none;
}

.page-number-btn {
    padding: 8px 12px;
    margin: 0 2px;
    border-radius: 5px;
}

.page-number-btn.active {
    background-color: var(--secondary-color);
}
.page-number-btn.active:hover {
    box-shadow: 0 5px 0 var(--secondary-hover);
}

#page-numbers {
    display: flex;
}

/*--- Notification Box ---*/
.notification-box {
    position: fixed;
    top: 0;
    left: 20px;
    transform: translateY(-100%);
    padding: 15px 30px;
    background-color: #28a745;
    color: white;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    text-align: center;
    font-weight: bold;
    opacity: 0;
    z-index: 1000;
}

.notification-box.visible {
    transform: translateY(0);
    opacity: 1;
}

/* Lớp phủ mờ nền */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--shadow-color);
}

/* Nội dung bên trong modal */
.modal-content {
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 6px var(--shadow-color);
    text-align: center;
    max-width: 400px;
    width: 90%;
}

.modal-content p {
    margin: 0 0 20px;
    font-size: 1.1em;
    color: var(--text-primary);
}

/* Các nút trong modal */
.modal-buttons .btn {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1em;
}

.modal-buttons .confirm-btn {
    background-color: var(--color-error);
    color: var(--background-color);
}

.modal-buttons .cancel-btn {
    background-color: var(--border-color);
    color: var(--text-primary);
}

/* Ẩn modal */
.modal-hidden {
    display: none;
}

/* box-image */
.box-image {
    background-color: var(--card-background);
    padding: 4px;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--shadow-color);
}

.box-image > img {
    margin-left: 0px !important;
}
