html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    color: black;
    box-sizing: inherit;
    font-size: 20px;
}

/* css giống bootstrap */
.d-flex {
    display: flex;
}
.d-flex.justify-content-center {
    justify-content: center;
}
.d-flex.align-items-center {
    align-items: center;
}
.d-flex.justify-content-flex-start {
    justify-content: flex-start;
}
.d-flex.justify-content-flex-end {
    justify-content: flex-end;
}
.d-flex.justify-content-space-around {
    justify-content: space-around;
}
.d-flex.justify-content-space-between {
    justify-content: space-between;
}
.shadow-no-blur {
    box-shadow: 0 5px 0 darkgray;
}
.trans-x-5 {
    transform: translateX(5px);
}
.w-full {
    width: 100%;
}
.h-full {
    height: 100%;
}
.vh-full {
    height: 100vh;
}
.h-10 {
    height: 10%;
}
.m-10 {
    margin: 10px;
}

button {
    width: 100px;
    height: 40px;
}

.container {
    display: flex;
    gap: 10px;
    height: 100vh;
    justify-content: space-between;
}

.left {
    background-color: lightcyan;
    width: 20%;
    left: 0;
    right: 0;
    transition: all 0.3s ease;
}

.mid {
    background-color: rgb(240, 235, 235);
    height: 100vh;
    flex: 1;
    margin: 0 auto;
    left: 0;
    right: 0;
    transition: all 0.3s ease;
    overflow-x: auto;
}

.right {
    background-color: rgb(255, 219, 224);
    width: 20%;
    left: 0;
    right: 0;
    transition: all 0.3s ease;
}

table tbody tr:nth-child(even) {
    background-color: black;
}

td {
    white-space: nowrap;
}

.btn-xoa {
    border-radius: 10px;
    background-color: #7070ff;
    border: none;
    transition: all 0.3s ease;
}
.btn-xoa:hover {
    transform: translateY(-9px);
    box-shadow: 0 9px 0 rgb(1, 1, 134);
}
